<% @cocktails.each do |cocktail| %>
  <h2>
    <%= link_to cocktail.name, cocktail_path(cocktail) %>
  </h2>
  <% end %>
  <%= cl_image_tag("wb8y9ceaq7b8fxtj1axc.jpg",
      width: 400, height: 300, crop: :fill) %>
